@use 'sass:math';
@import 'common';
@import 'bootstrap/scss/nav';

:host {
  height: 100%;
}

.nav-item {
  position: relative;
  max-width: 200px;
  width: 100%;
}

.nav-link {
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  padding-right: calc(
    #{$btn-close-width} + #{$btn-close-padding-x * 2} + #{$nav-link-padding-x}
  );
  padding-left: $nav-link-padding-x;
  padding-top: 0;
  padding-bottom: 0;
  font-size: $font-size-sm;
}

:host,
.tab-content,
.tab-content > .active {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-close-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(
    #{math.div($btn-close-padding-x, 2)} + #{math.div($nav-link-padding-x, 2)}
  );
}
