@use 'sass:map';
@import 'common';
@import 'bootstrap/scss/containers';

:host {
  display: block;
}

:host(:not([full-width])) {
  @extend .container;
}

:host([full-width]) {
  @extend .container-fluid;
}

:host([vertical-spacing]) {
  padding-top: map.get($spacers, 5);
  padding-bottom: map.get($spacers, 5);
}
